{sub_dirs, ["protobuf", "json_xml", "piqi_rpc"]}.


{deps,
    [
        % this repository contains the actual Piqi examples:
        {piqi_src, "", {git, "https://github.com/alavrik/piqi.git", {branch, "dev"}}},

        % Piqi Erlang application (libraries and Piqi compilers)
        {piqi, "", {git, "https://github.com/alavrik/piqi-erlang.git", {branch, "dev"}}},

        % Piqi-RPC Erlang application (libraries and Piqi compilers)
        {piqi_rpc, "", {git, "https://github.com/alavrik/piqi-rpc.git", {branch, "dev"}}}
    ]}.


{post_hooks, [
        {'get-deps', "./post-hooks-get-deps"},
        {'delete-deps', "./post-hooks-delete-deps"}
    ]}.


% vim:ft=erlang
